// Body
$body-bg: #f8fafc;
$text-color: #000000;
//$body-bg: #1e1e2e;
//$text-color: #efefef;
// Typography
$font-family-sans-serif: 'Vazir', 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #4285f4;
$pink: #f66d9b;
$red: #DD2C00;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #64DD17;
$teal: #4dc0b5;
$cyan: #6cb2eb;
//$blue: #3490dc;
//$indigo: #6574cd;
//$purple: #9561e2;
//$pink: #f66d9b;
//$red: #e3342f;
//$orange: #f6993f;
//$yellow: #ffed4a;
//$green: #38c172;
//$teal: #4dc0b5;
//$cyan: #6cb2eb;
